[Unit]
Description=Run aquarium-fish node service as unprevileged user
After=network.target

[Service]
Type=simple
User=aquarium-fish
Group=aquarium-fish
WorkingDirectory=/srv/aquarium-fish/ws
ExecStart=/srv/aquarium-fish/aquarium-fish --timestamp false -c /srv/aquarium-fish/config.yml
TimeoutStartSec=0
Restart=on-failure

LimitNOFILE=10240

[Install]
WantedBy=default.target
